@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700&display=swap");

// Add new Font Family
$font-family-sans-serif: "Poppins", "san-serif";

// Breakpoints
$grid-breakpoints: (
  xs: 0,
  sm: 640px,
  md: 768px,
  lg: 1024px,
  2xl: 1280px,
  3xl: 1440px,
);

.h-screen {
  height: 100vh;
}

.rounded-full {
  border-radius: 99rem;
}

$theme-colors: (
  "primary": #2ea668,
  //   "danger": #ff4136,
  "danger": #de1998,
);

$primary-green: #2ea668;
header .navbar-item a.navbar-link {
  text-decoration: none;
  color: black;
}

header .navbar-nav .navbar-item a.navbar-link:hover,
header .navbar-nav .navbar-item .navbar-link.active {
  background-color: #2ea668;
  color: white !important;
}
.banner {
  &__overlay {
    &--toright {
      background-image: linear-gradient(to right, gray, transparent);
      width: 100%;
      height: auto;
      top: 0;
      left: 0;
    }
  }

  &__content {
    &--title {
      color: white;
      font-size: 4.375rem;
    }
    &--description {
      color: white;
      font-size: 22px;
    }
  }
}
.overlay {
  width: 100%;
  height: 100%;
}

.center-vertical {
  top: 50%;
  transform: translate(0, -50%);
  z-index: 10;
}
.btn-white {
  background-color: white;
  color: black;
}
// IMPORT SCSS FROM BOOTSTRAP4
@import "./node_modules/bootstrap/scss/bootstrap.scss";
